$main-blue: #4360fa;
$brand-bg: #efefef;
$grey-1: #f9f9f9;
$grey-2: #b5b5b5;
$grey-3: #505050;
$grey-4: #252525;
$light-grey: #efefef;
$light-blue: #74caf4;
$light-blue-bg: #b1e5ff;
$dark-orange: #eba727;
$bounce-price: #f1af21;
$main-green: #28bc83;
